<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>CPChat</title>
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/title-bar.css">
    <script type=text/javascript src="js/bundle.js"></script>
</head>

<body>
<div id="chat" class="noselect">
    <div class="sidebar">

        <div class="browser">
            <div class="title-bar">
                <div class="btns">
                    <div class="close"></div>
                    <div class="min"></div>
                    <div class="max"></div>
                </div>
            </div>
        </div>
        <div class="card">
            <header><img class="avatar" :alt="nickName" src="images/avatar1.jpeg">
                <p class="name">{{ nickName }}</p></header>
            <footer><input class="search" type="text" placeholder="search user..."></footer>
        </div>
        <div class="list">
            <ul>
                <li v-for="user in users" :class="{ 'active': user === selectedUser }"
                    v-on:click="select(user)">
                    <img class="avatar" :alt="user" src="images/avatar1.jpeg"
                         v-if="user === nickName">
                    <img class="avatar" :alt="user" src="images/avatar2.jpeg" v-else>
                    <p class="name">{{ user }}</p>
                </li>
            </ul>
        </div>
    </div>

    <div class="main">
        <div class="m-header">
            <span id="room-name">Room</span>
        </div>
        <div class="m-message">
            <ul id="dialogue-container">
                <li v-for="msg in messages">
                    <div class="main" :class="{ 'self': msg.sender === nickName }">
                        <img class="avatar" :alt="msg.sender" src="images/avatar1.jpeg"
                             v-if="msg.sender === nickName">
                        <img class="avatar" :alt="msg.sender" src="images/avatar2.jpeg" v-else>
                        <div class="text" v-html="msg.text">{{ msg.text }}</div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="m-text">
            <div class="toolbar" id="tool_bar">
                <a>
                    <div class="webuploader-pick"></div>
                    <div style="display: inline-block;">
                        <input type="file" name="file" id="post" style="line-height: 30px;"
                               class="webuploader-element-invisible">
                        <label class="file-icon" onclick="post.click()"></label>
                    </div>
                </a>
                <div class="select-style" style="display: inline-block; margin-left: 8px;">
                    <select id="userList">
                        <option v-for="user in userList">
                            {{ user }}
                        </option>
                    </select>
                </div>
            </div>
            <textarea id="chatText"></textarea>
            <div class="action">
                <span class="desc">按下Ctrl+Enter换行</span>
                <a class="btn btn_send" id="btnText">发送</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
